<div style="height: 59px;font-size: 20px;padding: 12px 0 2px 10px;border-bottom: 1px solid #e5e5e5">
    <div class="pull-left">
        <i class="ebp-icon fa fa-desktop"></i>
        熟悉Tasks
    </div>
    <div class="pull-right">
        <ul style="list-style: none;">
            <li style="float: left">
                <a href style="padding: 2px 10px;margin-right: 8px;display: inline-block">
                    <i class="ebp-icon fa fa-clock-o"></i>
                    检查项
                </a>
            </li>
            <li style="float: left">
                <a href style="padding: 2px 10px;margin-right: 8px;display: inline-block">
                    <i class="ebp-icon fa fa-th-list"></i>
                    日期
                </a>
            </li>
            <li style="float: left">
                <a href style="padding: 2px 10px;margin-right: 8px;display: inline-block">
                    <i class="ebp-icon fa fa-paperclip"></i>
                    附件
                </a>
            </li>
            <li style="float: left">
                <a href style="padding: 2px 10px;margin-right: 8px;display: inline-block">
                    <i class="ebp-icon fa fa-caret-down"></i>
                    更多
                </a>
            </li>
            <li style="float: left">
                <a href style="padding: 2px 10px;margin-right: 8px;display: inline-block">
                    <i class="ebp-icon fa fa-close" ng-click="closeSideContent()"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
