<div style="height: 58px;line-height: 58px">
    <div class="gray" style="vertical-align: middle;font-size: 20px">
        项目选项
        <div class="pull-right inline" style="vertical-align: middle">
            <i class="ebp-icon fa fa-caret-down"></i>
        </div>
    </div>
</div>
<hr style="margin: 0 -5px" />
<div style="padding: 10px">
    <div>
        <h6>应用</h6>
        <ul style="list-style: none;margin: 0;padding: 0;font-size: 14px;display: inline-block;width: 100%">
            <li style="text-align: center;float:left;width: 33.333%;padding: 10px 0">
                <a href>
                    <i class="ebp-icon fa fa-check-square-o" style="font-size: 24px"></i>
                    <br />
                    <div>任务</div>
                </a>
            </li>
            <li style="text-align: center;float:left;width: 33.333%;padding: 10px 0">
                <a href>
                    <i class="ebp-icon fa fa-calendar" style="font-size: 24px"></i>
                    <br />
                    <div>日历</div>
                </a>
            </li>
            <li style="text-align: center;float:left;width: 33.333%;padding: 10px 0">
                <a href>
                    <i class="ebp-icon fa fa-file" style="font-size: 24px"></i>
                    <br />
                    <div>文件</div>
                </a>
            </li>
            <li style="text-align: center;float:left;width: 33.333%;padding: 10px 0">
                <a href>
                    <i class="ebp-icon fa fa-list-alt" style="font-size: 24px"></i>
                    <br />
                    <div>话题</div>
                </a>
            </li>
            <li style="text-align: center;float:left;width: 33.333%;padding: 10px 0">
                <a href>
                    <i class="ebp-icon fa fa-file-text-o" style="font-size: 24px"></i>
                    <br />
                    <div>文档</div>
                </a>
            </li>
            <li style="text-align: center;float:left;width: 33.333%;padding: 10px 0">
                <a href>
                    <i class="ebp-icon fa fa-bar-chart-o" style="font-size: 24px"></i>
                    <br />
                    <div>简报</div>
                </a>
            </li>
        </ul>
    </div>
    <hr style="margin: 0 -15px" />
    <div>
        <h6>成员</h6>
        <ul style="list-style: none;margin: 0;padding: 0;">
            <li style="text-align: center;float:left;width: 25%;padding: 10px 0;text-align: center">
                <a href>
                    <i class="ebp-icon fa fa-plus" style="font-size: 24px;width: 45px;height: 45px;line-height: 45px;border: 1px solid #000;border-radius: 50%"></i>
                </a>
            </li>
            <li style="text-align: center;float:left;width: 25%;padding: 10px 0;text-align: center">
                <a href>
                    <img src="images/avatars/yao.jpg" style="max-width: 45px;max-height: 45px;border-radius: 50%" />
                </a>
            </li>
            <li style="text-align: center;float:left;width: 25%;padding: 10px 0;text-align: center">
                <a href>
                    <img src="images/avatars/avatar.png" style="max-width: 45px;max-height: 45px;border-radius: 50%" />
                </a>
            </li>
            <li style="text-align: center;float:left;width: 25%;padding: 10px 0;text-align: center">
                <a href>
                    <img src="images/avatars/avatar3.png" style="max-width: 45px;max-height: 45px;border-radius: 50%" />
                </a>
            </li>
            <li style="text-align: center;float:left;width: 25%;padding: 10px 0;text-align: center">
                <a href>
                    <img src="images/avatars/avatar4.png" style="max-width: 45px;max-height: 45px;border-radius: 50%" />
                </a>
            </li>
        </ul>
    </div>
</div>
