<div class="hbox my-app-content" ng-controller="VideoPlayerController as videoController">
    <div class="col wrapper-lg">
        <div class="row">
            <div class="col-sm-9">
                <videogular vg-theme="videoController.config.theme" vg-player-ready="videoController.onPlayReady">
                    <vg-video vg-src="videoController.config.sources"
                              vg-tracks="videoController.config.tracks" style="min-height: 530px">
                    </vg-video>
                    <vg-controls>
                        <vg-play-pause-button></vg-play-pause-button>
                        <vg-timedisplay>{{ currentTime | date:'mm:ss' }}</vg-timedisplay>
                        <vg-scrubBar>
                            <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
                        </vg-scrubBar>
                        <vg-timedisplay>{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
                        <vg-volume>
                            <vg-mutebutton></vg-mutebutton>
                            <vg-volumebar></vg-volumebar>
                        </vg-volume>
                        <vg-fullscreenButton></vg-fullscreenButton>
                    </vg-controls>
                    <vg-overlay-play></vg-overlay-play>
                    <vg-buffering></vg-buffering>
                    <vg-poster-image vg-url="videoController.config.plugins.poster"></vg-poster-image>
                </videogular>
            </div>
            <div class="col-sm-3 bg-light bg-auto">
                <div style="padding: 20px">
                    <div class="m-b-sm" style="font-size: 16px">Recent Posts</div>
                    <ul class="list-group no-borders" style="margin-left: -15px;margin-right: -15px;list-style: none;padding-left: 0">
                        <li class="list-group-item no-border" style="background-color: transparent">
                            <a herf="" class="pull-left m-r" style="width: 40px;display: inline-block;margin-right: 15px;padding: 2px;border: 1px solid #dee5e7;background-color: #ffffff">
                                <img ng-src="http://flatfull.com/themes/angulr/angular/img/b0.jpg" alt="..." class="r" style="max-width: 100%;vertical-align: middle">
                            </a>
                            <div class="clear">
                                <div><a href class="text-ellipsis">Bootstrap 3: What you need to know</a></div>
                                <small class="text-muted text-ellipsis">Travel 2 minutes ago</small>
                            </div>
                        </li>
                        <li class="list-group-item no-border" style="background-color: transparent">
                            <a herf="" class="pull-left m-r" style="width: 40px;display: inline-block;margin-right: 15px;padding: 2px;border: 1px solid #dee5e7;background-color: #ffffff">
                                <img ng-src="http://flatfull.com/themes/angulr/angular/img/b1.jpg" alt="..." class="r" style="max-width: 100%;vertical-align: middle">
                            </a>
                            <div class="clear">
                                <div><a href class="text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></div>
                                <small class="text-muted text-ellipsis">Design 2 hours ago</small>
                            </div>
                        </li>
                        <li class="list-group-item no-border" style="background-color: transparent">
                            <a herf="" class="pull-left m-r" style="width: 40px;display: inline-block;margin-right: 15px;padding: 2px;border: 1px solid #dee5e7;background-color: #ffffff">
                                <img ng-src="http://flatfull.com/themes/angulr/angular/img/b2.jpg" alt="..." class="r" style="max-width: 100%;vertical-align: middle">
                            </a>
                            <div class="clear">
                                <div><a href class="text-ellipsis">Sed diam nonummy nibh euismod tincidunt ut laoreet</a></div>
                                <small class="text-muted text-ellipsis">MFC 1 week ago</small>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
