<div class="my-sidebar-wrap bg-black">
    <div class="my-sidebar-header bg-black" ebp-stickup>
        <a ui-sref="music" class="my-navbar-brand text-lt">
            <i class="fa fa-play-circle"></i>
            <span style="margin-left: 5px">MUSIC</span>
        </a>
    </div>
    <div class="navi-wrap">
        <nav class="navi clearfix">
            <ul class="nav dk">
                <li class="hidden-folded padder m-t m-b-sm text-muted text-u-c text-xs">
                    <span>Discovery</span>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="music.home">
                        <i class="fa fa-star"></i>
                        <span>Recommendation</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="music.test">
                        <i class="fa fa-list"></i>
                        <span>Genres</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="music.mtv">
                        <i class="fa fa-youtube-play"></i>
                        <span>MTV</span>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li class="hidden-folded padder m-t m-b-sm text-muted text-u-c text-xs">
                    <span>Your Music</span>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="music.test">
                        <i class="fa fa-star-o"></i>
                        <span>Bookmarked</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="music.test">
                        <i class="fa fa-heart-o"></i>
                        <span>Loved</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="music.test">
                        <i class="fa fa-clock-o"></i>
                        <span>History</span>
                    </a>
                </li>
                <li class="hidden-folded padder m-t m-b-sm text-muted text-u-c text-xs">
                    <span>Playlists</span>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="music.test">
                        <b class="badge badge-info pull-right">3</b>
                        <i class="fa fa-list-ol"></i>
                        <span>Nature</span>
                    </a>
                </li>
                <!--<li ui-sref-active="active">
                    <a ui-sref="music.playlist({fold:'nature'})" href="#/music/playlist/nature">
                        <b class="badge badge-info pull-right">3</b>
                        <i class="fa fa-list-ol"></i>
                        <span>Nature</span>
                    </a>
                </li>-->
                <li ui-sref-active="active">
                    <a ui-sref="music.test">
                        <b class="badge dk pull-right">5</b>
                        <i class="fa fa-list-ol"></i>
                        <span>Soundtracks</span>
                    </a>
                </li>
                <li class="hidden-folded padder m-t m-b-sm text-muted text-u-c text-xs">
                    <span>Others</span>
                </li>
                <li>
                    <a ui-sref="home">
                        <i class="fa fa-backward"></i>
                        <span>Back</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
