<div class="topdata">
	
</div>
<div class="email-main">
	<div class="list-group col-md-2 email-navbar">
		<a ng-href="#/emails/compose/" class="list-group-item" ng-class="{'active': viewName==='compose'}">Compose</a>
		<a ng-href="#/emails/inbox/" class="list-group-item">Check</a>
		<a class="list-group-item">Contacts</a>
		<a class="divider"></a>
		<a href="#/emails/inbox/" class="list-group-item" ng-class="{'active': viewName==='inbox'}">
			Inbox
		</a>
		<a href="#" class="list-group-item">Starred</a>
		<a href="#" class="list-group-item">Group Mail</a>
		<a href="#" class="list-group-item">Draft(4)</a>
		<a href="#" class="list-group-item">Sent</a>
		<a href="#" class="list-group-item">Trash</a>
		<a href="#" class="list-group-item">Spam</a>
		<a href="#" class="list-group-item">Subscription</a>
	</div>
	<div class="col-md-10" style="padding: 5px 10px 0 10px;overflow-x: hidden;overflow-y: auto;height: 100%">
		<div ng-switch on="viewName">
            <div ng-switch-when="inbox">
                <div ng-include="'/src/email/views/inbox.tpl.html'"></div>
            </div>
			<div class="email-compose" ng-switch-when="compose">
                <div ng-include="'/src/email/views/compose.tpl.html'"></div>
			</div>
            <div ng-switch-when="details">
                <div ng-include="'/src/email/views/details.tpl.html'"></div>
            </div>
		</div>
	</div>
</div>