<div class="row">
    <div class="col-xs-12">
        <div class="row" style="margin-top: 100px">
            <div class="col-md-3">
                <div class="audio-player mini" style="width: 300px;max-width: 300px;height: 400px;margin: 0 auto;box-shadow: 2px 2px 25px rgba(140, 32, 21, 0.9);">
                    <div class="player-content" style="width: 100%;height: 100%;background-color: #000000;text-align: center;position: relative;z-index: 1">
                        <div class="bg_cover">
                            <div class="back_image"
                                 style="background: url('images/media/audio/player/posters/poster4-bg.png') scroll no-repeat;background-size: cover;
                     position: absolute;top: 0;left: 0;width: 100%;height: 100%;">
                            </div>
                        </div>
                        <div class="cover-overlay" style="position: absolute;width: 100%;height: 100%;left: 0;top: 0;background-color: rgba(140, 32, 21, 0.701961)"></div>
                        <div class="knob-cover" style="overflow:hidden;position: absolute;width: 150px;height: 150px;border-radius: 50%;top: 53px;left: 75px;text-align: center;color: #ffffff;line-height: 150px">
                            <div class="cover-picture" style="background: url('images/media/audio/player/posters/poster4.jpg') center top;
                background-size: cover;width: 300px;height: 400px;margin-left: -75px;margin-top: -53px;position: absolute"></div>
                        </div>
                        <div class="topMenu" style="position: relative;width: 280px;height: 15px;padding: 10px;box-sizing: content-box;color: rgba(255,255,255,0.8)">
                            <div class="listButton" style="float: left;width: 15px;height: 10px;cursor: pointer;display: inline-block">
                                <i class="ebp-icon fa fa-list"></i>
                            </div>
                            <div class="soundBar" style="width: 150px;height: 10px;display: inline-block;text-align: center">
                                <div class="minSound" style="width: 15px;height:10px;display: inline-block;float: left;cursor: pointer">
                                    <i class="ebp-icon fa fa-volume-down"></i>
                                </div>
                                <div class="slideBar" style="position:relative;width: 110px;height: 6px;margin-top:5px;margin-bottom: 7px;background-color: rgba(255,255,255,0.8);display: inline-block">
                                    <div style="position: absolute;z-index: 1;background-color: rgba(223,214,148,1.00);width: 60%;height: 100%"></div>
                                </div>
                                <div class="maxSound" style="width: 15px;height:10px;display: inline-block;float: right;cursor: pointer">
                                    <i class="ebp-icon fa fa-volume-up"></i>
                                </div>
                            </div>
                            <div class="downloadButton" style="float: right;width: 15px;height: 10px;cursor: pointer;display: inline-block">
                                <i class="ebp-icon fa fa-download"></i>
                            </div>
                        </div>
                        <div class="knob-slider" style="position:relative;z-index: 1;border-radius: 50%;width: 160px;height: 160px;margin-left: auto;margin-right: auto;margin-top: 14px">
                            <input class="knob" data-width="158" data-height="158" data-fgcolor="rgba(223,214,148,1.00)" data-bgcolor="rgba(255,255,255,0.6)" data-displayinput="false" data-thickness=".05" value="0" ebp-jq="knob" />
                        </div>
                        <div class="timer_track" style="text-align: center;position: relative;color: #ffffff;margin-top: 20px"><b>00:00</b></div>
                        <div class="track_details" style="text-align: center;position: relative;color: #ffffff;margin-top: 20px"><b>Follow Me</b><br><span>Unknown Artist</span><span>-Unknown Album</span></div>
                        <div class="player_controls" style="position: absolute;bottom: 10px;margin-left:50%;;margin-bottom: 10px;left: -90px;width: 180px;height: 30px;box-sizing: content-box;color: rgba(255,255,255,0.8)">
                            <div class="shuffle_button" style="float: left;width: 15px;height: 10px;cursor: pointer;display: inline-block;margin-top: 12px;">
                                <i class="ebp-icon fa fa-random"></i>
                            </div>
                            <div class="midControls" style="width: 85px;height: 30px;position: relative;display: inline-block">
                                <div class="prev-track-button" style="width: 15px;height: 10px;float: left;cursor: pointer;margin-right: 10px;position: relative;margin-top: 12px;">
                                    <i class="ebp-icon fa fa-step-backward"></i>
                                </div>
                                <div class="prev-track-button" style="width: 35px;height: 30px;cursor: pointer;float:left;position: relative;font-size: 30px;">
                                    <i class="ebp-icon fa fa-play-circle-o"></i>
                                </div>
                                <div class="prev-track-button" style="width: 15px;height: 10px;float: right;cursor: pointer;margin-left: 10px;position: relative;margin-top: 12px;">
                                    <i class="ebp-icon fa fa-step-forward"></i>
                                </div>
                            </div>
                            <div class="shuffle_button" style="float: right;width: 15px;height: 10px;cursor: pointer;display: inline-block;margin-top: 12px;">
                                <i class="ebp-icon fa fa-refresh"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="audio-player mini" style="width: 300px;max-width: 300px;height: 400px;margin: 0 auto;box-shadow: 2px 2px 15px rgba(137, 46, 101, 0.9);">
                    <div class="player-content" style="width: 100%;height: 100%;background-color: #000000;text-align: center;position: relative;z-index: 1">
                        <div class="bg_cover">
                            <div class="back_image"
                                 style="background: url('images/media/audio/player/posters/poster3-bg.png') scroll no-repeat;background-size: cover;
                     position: absolute;top: 0;left: 0;width: 100%;height: 100%;">
                            </div>
                        </div>
                        <div class="cover-overlay" style="position: absolute;width: 100%;height: 100%;left: 0;top: 0;background-color: rgba(137, 46, 101, 0.701961)"></div>
                        <div class="knob-cover" style="overflow:hidden;position: absolute;width: 150px;height: 150px;border-radius: 50%;top: 53px;left: 75px;text-align: center;color: #ffffff;line-height: 150px">
                            <div class="cover-picture" style="background: url('images/media/audio/player/posters/poster3.jpg') center top;
                background-size: cover;width: 300px;height: 400px;margin-left: -75px;margin-top: -53px;position: absolute"></div>
                        </div>
                        <div class="topMenu" style="position: relative;width: 280px;height: 15px;padding: 10px;box-sizing: content-box;color: rgba(255,255,255,0.8)">
                            <div class="listButton" style="float: left;width: 15px;height: 10px;cursor: pointer;display: inline-block">
                                <i class="ebp-icon fa fa-list"></i>
                            </div>
                            <div class="soundBar" style="width: 150px;height: 10px;display: inline-block;text-align: center">
                                <div class="minSound" style="width: 15px;height:10px;display: inline-block;float: left;cursor: pointer">
                                    <i class="ebp-icon fa fa-volume-down"></i>
                                </div>
                                <div class="slideBar" style="position:relative;width: 110px;height: 6px;margin-top:5px;margin-bottom: 7px;background-color: rgba(255,255,255,0.8);display: inline-block">
                                    <div style="position: absolute;z-index: 1;background-color: rgba(223,214,148,1.00);width: 60%;height: 100%"></div>
                                </div>
                                <div class="maxSound" style="width: 15px;height:10px;display: inline-block;float: right;cursor: pointer">
                                    <i class="ebp-icon fa fa-volume-up"></i>
                                </div>
                            </div>
                            <div class="downloadButton" style="float: right;width: 15px;height: 10px;cursor: pointer;display: inline-block">
                                <i class="ebp-icon fa fa-download"></i>
                            </div>
                        </div>
                        <div class="knob-slider" style="position:relative;z-index: 1;border-radius: 50%;width: 160px;height: 160px;margin-left: auto;margin-right: auto;margin-top: 14px">
                            <input class="knob" data-width="158" data-height="158" data-fgcolor="rgba(223,214,148,1.00)" data-bgcolor="rgba(255,255,255,0.6)" data-displayinput="false" data-thickness=".05" value="0" ebp-jq="knob" />
                        </div>
                        <div class="timer_track" style="text-align: center;position: relative;color: #ffffff;margin-top: 20px"><b>00:00</b></div>
                        <div class="track_details" style="text-align: center;position: relative;color: #ffffff;margin-top: 20px"><b>Creep Instrumental</b><br><span>Unknown Artist</span><span>-Unknown Album</span></div>
                        <div class="player_controls" style="position: absolute;bottom: 10px;margin-left:50%;;margin-bottom: 10px;left: -90px;width: 180px;height: 30px;box-sizing: content-box;color: rgba(255,255,255,0.8)">
                            <div class="shuffle_button" style="float: left;width: 15px;height: 10px;cursor: pointer;display: inline-block;margin-top: 12px;">
                                <i class="ebp-icon fa fa-random"></i>
                            </div>
                            <div class="midControls" style="width: 85px;height: 30px;position: relative;display: inline-block">
                                <div class="prev-track-button" style="width: 15px;height: 10px;float: left;cursor: pointer;margin-right: 10px;position: relative;margin-top: 12px;">
                                    <i class="ebp-icon fa fa-step-backward"></i>
                                </div>
                                <div class="prev-track-button" style="width: 35px;height: 30px;cursor: pointer;float:left;position: relative;font-size: 30px;">
                                    <i class="ebp-icon fa fa-play-circle-o"></i>
                                </div>
                                <div class="prev-track-button" style="width: 15px;height: 10px;float: right;cursor: pointer;margin-left: 10px;position: relative;margin-top: 12px;">
                                    <i class="ebp-icon fa fa-step-forward"></i>
                                </div>
                            </div>
                            <div class="shuffle_button" style="float: right;width: 15px;height: 10px;cursor: pointer;display: inline-block;margin-top: 12px;">
                                <i class="ebp-icon fa fa-refresh"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="audio-player mini" style="width: 300px;max-width: 300px;height: 400px;margin: 0 auto;box-shadow: 2px 2px 15px rgba(46, 137, 101, 0.9);">
                    <div class="player-content" style="width: 100%;height: 100%;background-color: #000000;text-align: center;position: relative;z-index: 1">
                        <div class="bg_cover">
                            <div class="back_image"
                                 style="background: url('images/media/audio/player/posters/poster5-bg.png') scroll no-repeat;background-size: cover;
                     position: absolute;top: 0;left: 0;width: 100%;height: 100%;">
                            </div>
                        </div>
                        <div class="cover-overlay" style="position: absolute;width: 100%;height: 100%;left: 0;top: 0;background-color: rgba(46, 137, 101, 0.701961)"></div>
                        <div class="knob-cover" style="overflow:hidden;position: absolute;width: 150px;height: 150px;border-radius: 50%;top: 53px;left: 75px;text-align: center;color: #ffffff;line-height: 150px">
                            <div class="cover-picture" style="background: url('images/media/audio/player/posters/poster5.jpg') center top;
                background-size: cover;width: 300px;height: 400px;margin-left: -75px;margin-top: -53px;position: absolute"></div>
                        </div>
                        <div class="topMenu" style="position: relative;width: 280px;height: 15px;padding: 10px;box-sizing: content-box;color: rgba(255,255,255,0.8)">
                            <div class="listButton" style="float: left;width: 15px;height: 10px;cursor: pointer;display: inline-block">
                                <i class="ebp-icon fa fa-list"></i>
                            </div>
                            <div class="soundBar" style="width: 150px;height: 10px;display: inline-block;text-align: center">
                                <div class="minSound" style="width: 15px;height:10px;display: inline-block;float: left;cursor: pointer">
                                    <i class="ebp-icon fa fa-volume-down"></i>
                                </div>
                                <div class="slideBar" style="position:relative;width: 110px;height: 6px;margin-top:5px;margin-bottom: 7px;background-color: rgba(255,255,255,0.8);display: inline-block">
                                    <div style="position: absolute;z-index: 1;background-color: rgba(223,214,148,1.00);width: 60%;height: 100%"></div>
                                </div>
                                <div class="maxSound" style="width: 15px;height:10px;display: inline-block;float: right;cursor: pointer">
                                    <i class="ebp-icon fa fa-volume-up"></i>
                                </div>
                            </div>
                            <div class="downloadButton" style="float: right;width: 15px;height: 10px;cursor: pointer;display: inline-block">
                                <i class="ebp-icon fa fa-download"></i>
                            </div>
                        </div>
                        <div class="knob-slider" style="position:relative;z-index: 1;border-radius: 50%;width: 160px;height: 160px;margin-left: auto;margin-right: auto;margin-top: 14px">
                            <input class="knob" data-width="158" data-height="158" data-fgcolor="rgba(223,214,148,1.00)" data-bgcolor="rgba(255,255,255,0.6)" data-displayinput="false" data-thickness=".05" value="0" ebp-jq="knob" />
                        </div>
                        <div class="timer_track" style="text-align: center;position: relative;color: #ffffff;margin-top: 20px"><b>00:00</b></div>
                        <div class="track_details" style="text-align: center;position: relative;color: #ffffff;margin-top: 20px"><b>Far Away</b><br><span>Unknown Artist</span><span>-Unknown Album</span></div>
                        <div class="player_controls" style="position: absolute;bottom: 10px;margin-left:50%;;margin-bottom: 10px;left: -90px;width: 180px;height: 30px;box-sizing: content-box;color: rgba(255,255,255,0.8)">
                            <div class="shuffle_button" style="float: left;width: 15px;height: 10px;cursor: pointer;display: inline-block;margin-top: 12px;">
                                <i class="ebp-icon fa fa-random"></i>
                            </div>
                            <div class="midControls" style="width: 85px;height: 30px;position: relative;display: inline-block">
                                <div class="prev-track-button" style="width: 15px;height: 10px;float: left;cursor: pointer;margin-right: 10px;position: relative;margin-top: 12px;">
                                    <i class="ebp-icon fa fa-step-backward"></i>
                                </div>
                                <div class="prev-track-button" style="width: 35px;height: 30px;cursor: pointer;float:left;position: relative;font-size: 30px;">
                                    <i class="ebp-icon fa fa-play-circle-o"></i>
                                </div>
                                <div class="prev-track-button" style="width: 15px;height: 10px;float: right;cursor: pointer;margin-left: 10px;position: relative;margin-top: 12px;">
                                    <i class="ebp-icon fa fa-step-forward"></i>
                                </div>
                            </div>
                            <div class="shuffle_button" style="float: right;width: 15px;height: 10px;cursor: pointer;display: inline-block;margin-top: 12px;">
                                <i class="ebp-icon fa fa-refresh"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="audio-player mini" style="width: 300px;max-width: 300px;height: 400px;margin: 0 auto;box-shadow: 2px 2px 15px rgba(119, 119, 119, 0.9);">
                    <div class="player-content" style="width: 100%;height: 100%;background-color: #000000;text-align: center;position: relative;z-index: 1">
                        <div class="bg_cover">
                            <div class="back_image"
                                 style="background: url('images/media/audio/player/posters/poster1.png') scroll no-repeat;background-size: cover;
                     position: absolute;top: 0;left: 0;width: 100%;height: 100%;">
                            </div>
                        </div>
                        <div class="cover-overlay" style="position: absolute;width: 100%;height: 100%;left: 0;top: 0;background-color: rgba(119, 119, 119, 0.701961)"></div>
                        <div class="knob-cover" style="overflow:hidden;position: absolute;width: 150px;height: 150px;border-radius: 50%;top: 53px;left: 75px;text-align: center;color: #ffffff;line-height: 150px">
                            <div class="cover-picture" style="background: url('images/media/audio/player/posters/poster2.jpg') center top;
                background-size: cover;width: 300px;height: 400px;margin-left: -75px;margin-top: -53px;position: absolute"></div>
                        </div>
                        <div class="topMenu" style="position: relative;width: 280px;height: 15px;padding: 10px;box-sizing: content-box;color: rgba(255,255,255,0.8)">
                            <div class="listButton" style="float: left;width: 15px;height: 10px;cursor: pointer;display: inline-block">
                                <i class="ebp-icon fa fa-list"></i>
                            </div>
                            <div class="soundBar" style="width: 150px;height: 10px;display: inline-block;text-align: center">
                                <div class="minSound" style="width: 15px;height:10px;display: inline-block;float: left;cursor: pointer">
                                    <i class="ebp-icon fa fa-volume-down"></i>
                                </div>
                                <div class="slideBar" style="position:relative;width: 110px;height: 6px;margin-top:5px;margin-bottom: 7px;background-color: rgba(255,255,255,0.8);display: inline-block">
                                    <div style="position: absolute;z-index: 1;background-color: rgba(223,214,148,1.00);width: 60%;height: 100%"></div>
                                </div>
                                <div class="maxSound" style="width: 15px;height:10px;display: inline-block;float: right;cursor: pointer">
                                    <i class="ebp-icon fa fa-volume-up"></i>
                                </div>
                            </div>
                            <div class="downloadButton" style="float: right;width: 15px;height: 10px;cursor: pointer;display: inline-block">
                                <i class="ebp-icon fa fa-download"></i>
                            </div>
                        </div>
                        <div class="knob-slider" style="position:relative;z-index: 1;border-radius: 50%;width: 160px;height: 160px;margin-left: auto;margin-right: auto;margin-top: 14px">
                            <input class="knob" data-width="158" data-height="158" data-fgcolor="rgba(223,214,148,1.00)" data-bgcolor="rgba(255,255,255,0.6)" data-displayinput="false" data-thickness=".05" value="0" ebp-jq="knob" />
                        </div>
                        <div class="timer_track" style="text-align: center;position: relative;color: #ffffff;margin-top: 20px"><b>00:00</b></div>
                        <div class="track_details" style="text-align: center;position: relative;color: #ffffff;margin-top: 20px"><b>Krazy Dance Mega Mix</b><br><span>Unknown Artist</span><span>-Unknown Album</span></div>
                        <div class="player_controls" style="position: absolute;bottom: 10px;margin-left:50%;;margin-bottom: 10px;left: -90px;width: 180px;height: 30px;box-sizing: content-box;color: rgba(255,255,255,0.8)">
                            <div class="shuffle_button" style="float: left;width: 15px;height: 10px;cursor: pointer;display: inline-block;margin-top: 12px;">
                                <i class="ebp-icon fa fa-random"></i>
                            </div>
                            <div class="midControls" style="width: 85px;height: 30px;position: relative;display: inline-block">
                                <div class="prev-track-button" style="width: 15px;height: 10px;float: left;cursor: pointer;margin-right: 10px;position: relative;margin-top: 12px;">
                                    <i class="ebp-icon fa fa-step-backward"></i>
                                </div>
                                <div class="prev-track-button" style="width: 35px;height: 30px;cursor: pointer;float:left;position: relative;font-size: 30px;">
                                    <i class="ebp-icon fa fa-play-circle-o"></i>
                                </div>
                                <div class="prev-track-button" style="width: 15px;height: 10px;float: right;cursor: pointer;margin-left: 10px;position: relative;margin-top: 12px;">
                                    <i class="ebp-icon fa fa-step-forward"></i>
                                </div>
                            </div>
                            <div class="shuffle_button" style="float: right;width: 15px;height: 10px;cursor: pointer;display: inline-block;margin-top: 12px;">
                                <i class="ebp-icon fa fa-refresh"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" style="font-family: cursive;text-shadow: 0 0 45px #228DFF;margin-top: 20px;color: #ffffff;text-align: center;font-size: 7em;-webkit-text-fill-color: #ffffff;-webkit-text-stroke-color: rgba(34, 141, 255,0.7);-webkit-text-stroke-width: 1px">Audio Mini Players</div>
</div>
