<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-6">
                <div class="widget-box widget-color-blue2">
                    <div class="widget-header">
                        <h4 class="widget-title lighter smaller">Choose Categories</h4>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-8">
                            <ul class="tree" role="tree" ebp-tree closed-icon-class="tree-plus" opened-icon-class="tree-minus">
                                <li class="tree-branch hide" data-template="treebranch" role="treeitem" aria-expanded="false">
                                    <div class="tree-branch-header">
                                        <span class="tree-branch-name">
                                            <i class="icon-folder ebp-icon tree-plus glyphicon-folder-close"></i>
                                            <span class="tree-label"></span>
                                        </span>
                                    </div>
                                    <ul class="tree-branch-children" role="group"></ul>
                                    <div class="tree-loader hide" role="alert">
                                        <div class="tree-loading"><i class="ebp-icon fa fa-refresh fa-spin blue"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="tree-item hide" data-template="treeitem" role="treeitem">
                                    <span class="tree-item-name">
                                        <i class="icon-item ebp-icon fa fa-times"></i>
                                        <span class="tree-label"></span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="widget-box widget-color-green2">
                    <div class="widget-header">
                        <h4 class="widget-title lighter smaller">Browse Files</h4>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-8">
                            <ul class="tree" role="tree" ebp-tree>
                                <li class="tree-branch hide" data-template="treebranch" role="treeitem" aria-expanded="false">
                                    <div class="tree-branch-header">
                                        <span class="tree-branch-name">
                                            <i class="icon-folder ebp-icon glyphicon glyphicon-folder-close">
                                            </i>
                                            <span class="tree-label">
                                            </span>
                                        </span>
                                    </div>
                                    <ul class="tree-branch-children" role="group"></ul>
                                    <div class="tree-loader hide" role="alert">
                                        <div class="tree-loading">
                                            <i class="ebp-icon fa fa-refresh fa-spin blue"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="tree-item hide" data-template="treeitem" role="treeitem">
                                    <span class="tree-item-name">
                                        <i class="icon-item fa fa-file-video-o"></i>
                                        <span class="tree-label"></span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
