<div class="row">
    <div class="col-xs-12">
        <div class="col-md-6">
            <div class="widget-box widget-color-dark light-border">
                <div class="widget-header ui-sortable-handle">
                    <h5 class="widget-title smaller">World map with information</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <div style="width: 100%;height: 400px;margin: 0 auto;" ebp-jq="vectorMap" jq-options="worldMapOptions">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget-box widget-color-green2 light-border">
                <div class="widget-header ui-sortable-handle">
                    <h5 class="widget-title smaller">China Map</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <div style="width: 100%;height: 400px;margin: 0 auto;" ebp-jq="vectorMap" jq-options="cnMapOptions">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
