.badge.badge-info, .badge-info {
  background-color: #3a87ad;
}
.badge.badge-transparent, .badge-transparent {
  background-color: transparent;
}
.badge.badge-grey, .badge-grey {
  background-color: #a0a0a0;
}
.badge.badge-primary, .badge-primary {
  background-color: #428bca;
}
.badge.badge-important, .badge-important {
  background-color: #d15b47;
}
.badge.badge-success, .badge-success {
  background-color: #82af6f;
}
.badge-danger, .badge.badge-danger {
  background-color: #D15B47;
}
.badge.badge-warning, .badge-warning {
  background-color: #F89406;
}
.badge.badge-inverse, .badge-inverse {
    background-color: #333;
}
