.btn {
    display: inline-block;
    color: #FFF!important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-image: none!important;
    border: 5px solid #FFF;
    border-radius: 0;
    box-shadow: none!important;
    -webkit-transition: background-color .15s,border-color .15s,opacity .15s;
    -o-transition: background-color .15s,border-color .15s,opacity .15s;
    transition: background-color .15s,border-color .15s,opacity .15s;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    position: relative;
    &.btn-link {
        border-width: 0!important;
        background: transparent none!important;
        color: #08c!important;
        text-shadow: none!important;
        padding: 4px 12px!important;
        line-height: 20px!important;
    }
    &.btn-white {
        text-shadow: none!important;
        background-color: #FFF!important;
        border-width: 1px;
    }
    &.btn-bold {
        border-bottom-width: 2px;
    }
    &.btn-round {
        border-bottom-width: 2px;
        border-radius: 4px!important;
    }
}
.btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white.active, .btn.btn-white:active, .open>.btn.btn-white.dropdown-toggle, .open>.btn.btn-white.active.dropdown-toggle {
    background-color: #ebebeb!important;
    border-color: #ccc;
    color: #3a3434!important;
}
.btn.btn-white:focus, .btn.btn-white.active {
    box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,.1)!important;
}
.btn-white.btn-default {
    border-color: #abbac3;
    color: #80909a!important;
}
.btn-white.btn-default:hover, .btn-white.btn-default:focus, .btn-white.btn-default.active, .btn-white.btn-default:active, .open>.btn-white.btn-default.dropdown-toggle, .open>.btn-white.btn-default.active.dropdown-toggle {
    background-color: #eff2f4!important;
    border-color: #abbac3;
    color: #6b8595!important;
}
.btn-white.btn-success {
    border-color: #a7c9a1;
    color: #81a87b!important;
}
.btn-white.btn-success:hover, .btn-white.btn-success:focus, .btn-white.btn-success.active, .btn-white.btn-success:active, .open>.btn-white.btn-success.dropdown-toggle, .open>.btn-white.btn-success.active.dropdown-toggle {
    background-color: #edf4eb!important;
    border-color: #a7c9a1;
    color: #6ea465!important;
}
.btn-white.btn-primary {
    border-color: #8aafce;
    color: #6688a6!important;
}
.btn-white.btn-primary:hover, .btn-white.btn-primary:focus, .btn-white.btn-primary.active, .btn-white.btn-primary:active, .open>.btn-white.btn-primary.dropdown-toggle, .open>.btn-white.btn-primary.active.dropdown-toggle {
    background-color: #eaf2f8!important;
    border-color: #8aafce;
    color: #537c9f!important;
}
.btn-white.btn-danger {
    border-color: #d7a59d;
    color: #b7837a!important;
}
.btn-white.btn-danger:hover, .btn-white.btn-danger:focus, .btn-white.btn-danger.active, .btn-white.btn-danger:active, .open>.btn-white.btn-danger.dropdown-toggle, .open>.btn-white.btn-danger.active.dropdown-toggle {
    background-color: #fbf4f3!important;
    border-color: #d7a59d;
    color: #b46f64!important;
}
.btn.active:after {
  display: inline-block;
  content: "";
  position: absolute;
  border-bottom: 1px solid #EFE5B5;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
.btn, .btn-default, .btn:focus, .btn-default:focus {
  background-color: #abbac3!important;
  border-color: #abbac3;
}
.btn:hover, .btn-default:hover, .btn:active, .btn-default:active, .open>.btn.dropdown-toggle, .open>.btn-default.dropdown-toggle {
  background-color: #8b9aa3!important;
  border-color: #abbac3;
}
.btn-success, .btn-success:focus {
  background-color: #87b87f!important;
  border-color: #87b87f;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .open>.btn-success.dropdown-toggle {
  background-color: #629b58!important;
  border-color: #87b87f;
}
.btn-info, .btn-info:focus {
  background-color: #6fb3e0!important;
  border-color: #6fb3e0;
}
.btn-info:hover, .btn-info:active, .open>.btn-info.dropdown-toggle {
  background-color: #4f99c6!important;
  border-color: #6fb3e0;
}
.btn-warning, .btn-warning:focus {
  background-color: #ffb752!important;
  border-color: #ffb752;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .open>.btn-warning.dropdown-toggle {
  background-color: #e59729!important;
  border-color: #ffb752;
}
.btn-danger, .btn-danger:focus {
  background-color: #d15b47!important;
  border-color: #d15b47;
}
.btn-danger:hover, .btn-danger:active,.open>.btn-danger.dropdown-toggle {
  background-color: #b74635!important;
  border-color: #d15b47;
}
.btn-danger.active {
  background-color: #C4513E !important;
  border-color: #AA4434;
}
.btn-primary, .btn-primary:focus {
  background-color: #428bca!important;
  border-color: #428bca;
}
.btn-primary:hover, .btn-primary:active, .open>.btn-primary.dropdown-toggle {
  background-color: #1b6aaa!important;
  border-color: #428bca!important;
}
.btn-primary.active {
  background-color: #2F7BBA !important;
  border-color: #27689D;
}
.btn-pink, .btn-pink:focus {
  background-color: #d6487e!important;
  border-color: #d6487e;
}
.btn-pink:hover, .btn-pink:active, .btn-pink.active, .open>.btn-pink.dropdown-toggle {
  background-color: #b73766!important;
  border-color: #d6487e;
}
.btn-pink.no-hover:hover, .btn-pink.no-hover:active {
  background-color: #d6487e!important;
}
.btn-sm, .btn-group-sm>.btn {
  border-width: 4px;
  font-size: 13px;
  padding: 4px 9px;
  line-height: 1.38;
}
.btn-sm>.ebp-icon {
  margin-right: 3px;
}
.btn-minier, .btn-group-minier>.btn {
    padding: 0 4px;
    line-height: 18px;
    border-width: 2px;
    font-size: 12px;
}
.btn-xs>.ebp-icon.icon-on-right, .btn-mini>.ebp-icon.icon-on-right, .ebp-minier>.ebp-icon.icon-on-right {
    margin-right: 0;
    margin-left: 2px;
}
button.btn:active,button.btn.active {
  top: 1px;
}
.btn-group {
  & > .btn, & > .btn + .btn {
    margin: 0px 1px 0px 0px;
  }
  & > .btn-sm.active:after, & + .btn-sm.active:after {
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-bottom-width: 1px;
  }
  &> .btn-sm, & + .btn-sm {
    border-width: 2px;
  }
}
.btn-mini, .btn-group-mini>.btn {
    padding: 1px 5px;
    border-width: 3px;
    font-size: 12px;
    line-height: 1.5;
}
