@import "viables";
.purple {
  color: $purple!important;
}
.green {
  color: $green!important;
}
.red {
  color: $red!important;
}
.white {
  color: $white!important;
}
.light-blue {
  color: $light-blue!important;
}
.blue {
  color: $blue!important;
}
.grey {
    color: $gray!important;
}
.orange {
  color: $orange !important;
}
.orange2 {
    color: $orange2!important;
}
