.purple {
  color: #a069c3!important;
}
.green {
  color: #69aa46!important;
}
.red {
  color: #dd5a43!important;
}
.white {
  color: #fff!important;
}
.light-blue {
  color: #93cbf9!important;
}
.blue {
  color: #478fca!important;
}
.grey {
    color: #777!important;
}
.orange {
  color: #FF892A !important;
}
