.grid3 {
    width: 31.33%;
}
.grid2:first-child, .grid3:first-child, .grid4:first-child {
    border-left: none;
}
.grid2, .grid3, .grid4 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 0 1%;
    padding: 0 2%;
    float: left;
    border-left: 1px solid #E3E3E3;
}
