.table > thead > tr > th {
  border-color: #DDD;
  font-weight: 700;
  .ebp-icon:first-child {
    margin-right: 2px;
  }
}
.table > thead > tr {
  color: #707070;
  font-weight: 400;
}
.table-bordered{
  & > thead.thin-border-bottom{
    & > tr > th, & > tr > td {
      border-bottom-width: 1px;
    }
  }
}