@charset "UTF-8";
.lighter {
    font-weight: lighter;
}
h4.bigger {
    font-size: 19px;
}
.bigger-110 {
    font-size: 110%!important;
}
.bigger-120 {
    font-size: 120%!important;
}
.bigger-130 {
    font-size: 130%!important;
}
.bigger-150 {
  font-size: 150%!important;
}
.font-thin {
    font-weight: 300;
}
.text-ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-center {
    text-align: center;
}
h5 {
    font-size: 15px;
    font-weight: 400;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    &.bigger {
        font-size: 16px;
    }
}
.CodeMirror {
  height: auto!important;
  background-color: #F5F5F5!important;
  font-size: 14px;
  font-family: 'Consolas';
  .CodeMirror-code > pre{
    height: 20px;
    line-height: 20px;
  }
}
.printify {
    -webkit-text-fill-color: #333;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.005em;
}
