.lighter {
    font-weight: lighter;
}
h4.bigger {
    font-size: 19px;
}
.bigger-110 {
    font-size: 110%!important;
}
.bigger-130 {
    font-size: 130%!important;
}
.bigger-150 {
  font-size: 150%!important;
}
h5 {
    font-size: 15px;
    font-weight: 400;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.CodeMirror {
  height: auto!important;
  background-color: #F5F5F5!important;
  font-size: 14px;
  font-family: 'Consolas';
  .CodeMirror-code > pre{
    height: 20px;
    line-height: 20px;
  }
}
