// Colors
// -------------------------
$purple:       #a069c3;
$green:        #69aa46;
$red:          #dd5a43;
$white:        #fff;
$light-blue:   #93cbf9;
$blue:         #478fca;
$gray:         #777;
$orange:       #FF892A;
$orange2:      #feb902;

// Buttons
// ----------------------------
$btn-primary-bg:  #428bca;
