.widget-box {
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 3px 0;
    border: 1px solid #CCC;
    &.transparent {
      border-width: 0px;
      &>.widget-header {
        background: none repeat scroll 0px 0px transparent;
        border-width: 0px 0px 1px;
        border-bottom: 1px solid #DCE8F1;
        color: #4383B4;
        padding-left: 3px;
      }
    }
    &.widget-color-blue2 {
      border-color: #5090C1;
      &>.widget-header {
        background: none repeat scroll 0% 0% #5090C1;
        border-color: #5090C1;
      }
    }
    &.widget-color-green2 {
      border-color: #2E8965;
      & > .widget-header {
        background: none repeat scroll 0% 0% #2E8965;
        border-color: #2E8965;
      }
    }
}
.widget-header-small {
  min-height: 31px;
  padding-left: 10px;
}
.widget-box[class*="widget-color-"] > .widget-header {
  color: #FFF;
}
.widget-header-small {
    min-height: 31px;
    padding-left: 10px;
    &>.widget-title {
        line-height: 30px;
    }
    &>.widget-toolbar {
        line-height: 35px;
    }
}
.widget-header {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    min-height: 38px;
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(top,#fff 0,#eee 100%);
    background-image: -o-linear-gradient(top,#fff 0,#eee 100%);
    background-image: linear-gradient(to bottom,#fff 0,#eee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
    color: #669fc7;
    border-bottom: 1px solid #DDD;
    padding-left: 12px;
    &:before,&:after {
        content: "";
        display: table;
        line-height: 0;
    }
    &>.widget-title {
        line-height: 36px;
        padding: 0;
        margin: 0;
        display: inline;
        &>.ebp-icon {
            margin-right: 5px;
            font-weight: 400;
            display: inline-block;
        }
    }
    &.widget-header-flat {
        background: #F7F7F7;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }
}
.widget-toolbar {
    display: inline-block;
    padding: 0 10px;
    line-height: 37px;
    float: right;
    position: relative;
    &.no-border:before {
      display: none;
    }
    &:before {
      display: inline-block;
      content: "";
      position: absolute;
      top: 3px;
      bottom: 3px;
      left: -1px;
      border-style: solid;
      border-color: #D9D9D9;
      -moz-border-top-colors: none;
      -moz-border-right-colors: none;
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      border-image: none;
      border-width: 0px 1px 0px 0px;
    }
}
.widget-main {
    padding: 12px;
    position: relative;
    &.padding-4 {
      padding: 4px;
    }
    &.padding-8 {
      padding: 8px;
    }
    &.no-padding{
      .table {
        margin-bottom: 0px;
        border-width: 0px;
      }
      .table-bordered {
        th:first-child, td:first-child {
          border-left-width: 0px;
        }
      }
    }
}
.widget-body{
  .table {
    border-top: 1px solid #E5E5E5;
    &.table-bordered{
      thead:first-child > tr {
        border-top-width: 0px;
      }
    }
  }
}
.transparent > .widget-body .widget-main .table-bordered > thead > tr > th:last-child,
.widget-main.no-padding .table-bordered > thead > tr > th:last-child,
.transparent > .widget-body .widget-main .table-bordered > tbody > tr > td:last-child,
.widget-main.no-padding .table-bordered > tbody > tr > td:last-child,
.transparent > .widget-body .widget-main .table-bordered > tfoot > tr > td:last-child,
.widget-main.no-padding .table-bordered > tfoot > tr > td:last-child {
  border-right-width: 0px !important;
}

